# Minimal requirements.txt untuk mspectro
# Pastikan Python 3.13

# Core app
streamlit==1.49.1
streamlit-cropper==0.2.2

# Data processing
pandas==2.3.2
numpy==1.26.4
scikit-learn==1.6.1

# Plotting
matplotlib==3.9.4

# Image handling
Pillow==9.5.0

# Optional: improve logging & Streamlit exceptions
rich==14.1.0
markdown-it-py==4.0.0
mdurl==0.1.2
pygments==2.19.2
